<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Citations</title>
    <style>
        :root{
            --myBlue:#41668B;
            --myRed:#8B4142;
            --myYellow: #8B8A41;
            --myGrey:rgb(207, 207, 207);
        }

        main{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap:1em;
        }
        main>div{
            background-color: var(--myRed);
            color:white;
            
            display:flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
        }
        img{
            height:20svh;
        }
        h1{
            color: var(--myRed);
        }
    </style>
</head>
<body>
    <a href="../index.html">Back</a><br>
    <h1>Thanks to All Contributers of This Webpage!</h1>
    <main>
        <div>
            <a href="https://unsplash.com/photos/a-view-of-a-city-with-a-bridge-and-a-river-S4jgAhePoYA">
                <img src="../static/imgs/banner.jpg"><br>
            </a>
            <p>A Photo Courtesy of David Lin</p>
        </div>
        <div>
            <a href="https://unsplash.com/photos/a-train-station-sitting-on-top-of-a-brick-wall-umy7vmpXeoM">
                <img src="../static/imgs/brad-killen-1-unsplash.jpg"><br>
            </a>
            <p>A Photo Courtesy of Brad Killen</p>
        </div>
        <div>
            <a href="https://unsplash.com/photos/a-view-of-a-train-going-down-the-tracks-uVfcH6swrp0">
                <img src="../static/imgs/brad-killen-2-unsplash.jpg"><br>
            </a>
            <p>A Photo Courtesy of Brad Killen</p>
        </div>
        <div>
            <a href="https://unsplash.com/photos/a-green-building-with-a-red-sign-on-it-j2ZieOae7k8">
                <img src="../static/imgs/home-slideshow/brad-killen-3-unsplash.jpg"><br>
            </a>
            <p>A Photo Courtesy of Brad Killen</p>
        </div>
        <div>
            <a href="https://unsplash.com/photos/a-red-train-car-sitting-in-a-train-station-h8MdoOveQ8c">
                <img src="../static/imgs/home-slideshow/brad-killen-4-unsplash.jpg"><br>
            </a>
            <p>A Photo Courtesy of Brad Killen</p>
        </div>
        <div>
            <a href="https://unsplash.com/photos/a-view-of-a-bridge-and-a-city-from-a-window-d2fKW40saOU">
                <img src="../static/imgs/home-slideshow/brad-killen-5-unsplash.jpg"><br>
            </a>
            <p>A Photo Courtesy of Brad Killen</p>
        </div>
        <div>
            <a href="https://unsplash.com/photos/a-view-of-a-stadium-from-a-high-point-of-view-4VqvRWZ6iPw">
                <img src="../static/imgs/home-slideshow/brad-killen-6-unsplash.jpg"><br>
            </a>
            <p>A Photo Courtesy of Brad Killen</p>
        </div>
        <div>
            <a href="https://unsplash.com/photos/a-yellow-bridge-over-a-river-in-front-of-a-city-CZ4JwJjGnX4">
                <img src="../static/imgs/home-slideshow/Unsplash_Brad Kille_2.jpg"><br>
            </a>
            <p>A Photo Courtesy of Brad Killen</p>
        </div>
        <div>
            <a href="https://unsplash.com/photos/aerial-photo-of-bridge-and-buildings-under-blue-sky-9HGqJq3vglc">
                <img src="../static/imgs/home-slideshow/vidar-nordli-mathisen-1-unsplash.jpg"><br>
            </a>
            <p>A Photo Courtesy of Vidar Nordi</p>
        </div>
        <div>
            <a href="https://unsplash.com/photos/a-train-going-down-a-track-with-a-mountain-in-the-background-U_MIJICD_Ow">
                <img src="../static/imgs/donnie-rosie-1-unsplash.jpg"><br>
            </a>
            <p>A Photo Courtesy of Donne Rosie</p>
        </div>
        <div>
            <a href="https://unsplash.com/photos/https://unsplash.com/photos/high-rise-buildings-near-body-of-water-during-daytime-F6EFztyHW5Y">
                <img src="../static/imgs/visitors/fieldtirp/venti-views1.jpg"><br>
            </a>
            <p>A Photo Courtesy of Venti Views</p>
        </div>
        <div>
            <a href="https://unsplash.com/photos/red-and-black-train-on-bridge-over-body-of-water-during-daytime-yLcPSvJkGrM">
                <img src="../static/imgs/visitors/fieldtirp/yuhan-du1.jpg"><br>
            </a>
            <p>A Photo Courtesy of Yuhan Du</p>
        </div>
        <div>
            <a href="https://unsplash.com/photos/https://unsplash.com/photos/people-walking-on-gray-concrete-road-during-daytime-6m29_AngOYo">
                <img src="../static/imgs/visitors/fieldtirp/note-thanun1.jpg"><br>
            </a>
            <p>A Photo Courtesy of Note Thanun</p>
        </div>
    </main>
</body>
</html>