<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Duquesne Incline Official Website</title>
    <!-- Icon -->
    <link href="../static/imgs/DuqInclineLogo.png" rel="icon">

    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous" defer></script>
    
    <!-- Common JS -->
    <script src="../static/js/script.js" defer></script>
    <script src="../static/js/page_controlls.js" defer></script>
    <script src="../static/js/fullscreen.js" defer></script>
    <script src="../static/js/toggle_nav.js" defer></script>
    <!--  JS for this page-->
    <script src="../static/js/contact_html/contact.js" defer></script>

    <!-- CSS -->
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/contact.css">
    <link rel="stylesheet" href="../static/css/mobile_style.css">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body onload="init()">
    <div class="container">
        <header>
            <div class="webname">
                <img src="../static/imgs/DuqInclineLogo.png" alt="Our logo" class="logo" title="The logo of the webpage, illustrating rail car of Duquesne Incline in a black-and-whtie hand drawn style">
                <p class="title">THE DUQUESNE INCLINE</p>
            </div>
        </header>
        <nav class="active">
            <figure>
                <img src="../static/imgs/DuqInclineLogo.png" alt="Our logo" class="logo" title="The logo of the webpage, illustrating rail car of Duquesne Incline in a black-and-whtie hand drawn style">
                <figcaption class="subtitle">The Duquesne Incline</figcaption>
            </figure>
            <button class="toggle iconfont" onclick="toggle_nav(this)">&#xe620;</button>
            <div class="links">
                <a href="../index.html" class="subtitle red">Home</a>
                <a href="../views/visitors.html" class="subtitle">For Visitors</a>
                <a href="../views/giftshop.html" class="subtitle">Gift Shop</a>
                <a href="../views/contact.html" class="subtitle">Contact Us</a>
            </div>
        </nav>
        <main>
            <h1>Contact Us!</h1>
            <div class="container">
                <section>
                    <h2>Our Contact Information:</h2>
                    <ul>
                        <li>
                            <b>Mailing Address:</b> 1197 West Carson Street, Pittsburgh, PA 15219
                        </li>
                        <li>
                            <b>Phone Number:</b> 412.381.1665
                        </li>
                        <li>
                            <b>Fax:</b> 412.381.1943
                        </li>
                        <li>
                            <b>Email:</b> <a href="mailto:duq.incline@duquesneincline.org">duq.incline@duquesneincline.org</a>
                        </li>
                    </ul>
                </section>
                <form class="mail_list" onsubmit="return validate_form()">
                    <h2>Join Our Mailing List!</h2>
                    <section class="name">
                        <label>Your Name:</label>
                        <div class="container">
                            <div>
                                <label for="first_name">First Name*</label><br>
                                <input type="text" id="first_name" name="first_name" required>
                            </div>
                            <div>
                                <label for="middle_initial">M. I.</label><br>
                                <input type="text" id="middle_initial" name="middle_initial">
                            </div>
                            <div>
                                <label for="last_name">Last Name*</label><br>
                                <input type="text" id="last_name" name="last_name" required>
                            </div>
                        </div>
                    </section>
                    <section class="email">
                        <label for="email">Your Email*</label><br>
                        <input type="email" name="email" id="email" required>
                    </section>
                    <section class="sms">
                        <input type="checkbox" name="sms" id="sms" onclick="checkBox(this)">
                        <label for="sms">I Would Like To Receive SMS from Duquesne Incline</label>
                    </section>
                    <section class="tel hidden">
                        <label for="tel">Your Phone Number*:</label><br>
                        <input type="tel" name="tel" id="tel" pattern="^[0-9]*$">
                    </section>
                    <section class="zip">
                        <label for="zip">Zip Code</label><br>
                        <input type="text" name="zip" id="zip" pattern="[0-9]{5}">
                    </section>
                    <section>
                        <p class="msg hidden">Please Complete All Red Fields Correctly!</p>
                        <input type="submit" name="submit" id="submit" onclick="validate_form()">
                    </section>
                </form>
            </div>
        </main>
        <footer>
            <div class="container">
                <div class="item1">
                    <h1>The Duquesne Incline</h1>
                    <img src="../static/imgs/DuqInclineLogo.png" alt="Our logo" class="logo" title="The logo of the webpage, illustrating rail car of Duquesne Incline in a black-and-whtie hand drawn style">
                </div>
                <div class="item2">
                    <h1>Hours of Operation</h1>
                    <p>Open 365 Days a Year</p>
                    <p>Everyday: 6:30 a.m. -- 12:30 a.m.</p>
                    <p>No Reservations. No Advance Tickets</p>
                </div>
                <div class="item3">
                    <h1>Contact Information</h1>
                    <p>1197 West Carson Street, Pittsburgh, PA 15219</p>
                    <p>Phone Number: 412.381.1665</p>
                    <p>Fax: 412.381.1943</p>
                    <p>duq.incline@duquesneincline.org</p>
                </div>
                <div class="item4">
                    <h1>Follow Our Social Media!</h1>
                    <div class="social_media_list">
                        <!-- Facebook -->
                        <a href="https://www.facebook.com/TheDuquesneIncline" target="_blank">
                            <img src="../static/icons/facebookpng.png" alt="Facebook" title="Facebook">
                        </a>
                        <!-- Yelp-->
                        <a href="https://www.yelp.com/biz/duquesne-incline-pittsburgh" target="_blank">
                            <img src="../static/icons/yelp.png" alt="Yelp" title="Yelp">
                        </a>
                        <!-- Viator -->
                        <a href="https://www.viator.com/Pittsburgh-attractions/Duquesne-Incline/d22639-a21677" target="_blank">
                            <img src="../static/icons/viator.jpg" alt="Viator" title="Viator">
                        </a>
                        <!-- Visit Pittsburgh -->
                        <a href="https://www.visitpittsburgh.com/directory/duquesne-incline/" target="_blank">
                            <img src="../static/icons/Visit_Pittsburgh.png" alt="Visit Pittsburgh" title="Visit Pittsburgh">
                        </a>
                        <!-- Wikipedia -->
                        <a href="https://en.wikipedia.org/wiki/Duquesne_Incline" target="_blank">
                            <img src="../static/icons/wikipedia.png" alt="Wikipedia" title="Wikipedia" class="filled">
                        </a>
                    </div>
                </div>
            </div>
            <p>Copyright&copy; Duquesne Incline | <a href="./citations.html"> Image Citations (Click to See)</a> | Website Design & Programming: Lawrence Song</p>
       </footer>
    </div>
</body>
</html>