<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Duquesne Incline Official Website</title>
    <!-- Icon -->
    <link href="../static/imgs/DuqInclineLogo.png" rel="icon">

    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous" defer></script>
    
    <!-- Common JS -->
    <script src="../static/js/script.js" defer></script>
    <script src="../static/js/page_controlls.js" defer></script>
    <script src="../static/js/fullscreen.js" defer></script>
    <!--  JS for this page-->


    <!-- CSS -->
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/giftshop.css">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body onload="init()">
    <div class="container">
        <header>
            <div class="background_filter">
                <div class="webname">
                    <img src="../static/imgs/DuqInclineLogo.png" alt="Our logo" class="logo" title="The logo of the webpage, illustrating rail car of Duquesne Incline in a black-and-whtie hand drawn style">
                    <p class="title">THE DUQUESNE INCLINE</p>
                </div>
            </div>
        </header>
        <nav>
            <a href="../index.html" class="subtitle red">Home</a>
            <a href="../views/visitors.html" class="subtitle">For Visitors</a>
            <a href="../views/giftshop.html" class="subtitle">Gift Shop</a>
            <a href="../views/contact.html" class="subtitle">Contact Us</a>
        </nav>
        <main>
            <h1 class="align-center">Visit Our Giftshop!</h1>
            <h2 class="align-center">Our Beautiful Items,featured:</h2>
            <div class="container">
                <div class="items dark">
                    <figure>
                        <img src="../static/imgs/giftshop/hammered_plate.jpg" alt="Failed to Load Image">
                    </figure>
                    <h3 class="name align-center">Hand Hammered Plate</h3>
                </div>
                <div class="items dark">
                    <figure>
                        <img src="../static/imgs/giftshop/hammered_plate2.jpg" alt="Failed to Load Image">
                    </figure>
                    <h3 class="name align-center">Hand Hammered Plate</h3>
                </div>
                <div class="items dark">
                    <figure>
                        <img src="../static/imgs/giftshop/hammered_point.jpg" alt="Failed to Load Image">
                    </figure>
                    <h3 class="name align-center">Hand Hammered Point</h3>
                </div>
                <div class="items dark">
                    <figure>
                        <img src="../static/imgs/giftshop/mug.jpg" alt="Failed to Load Image">
                    </figure>
                    <h3 class="name align-center">Featured Mug</h3>
                </div>
                <div class="items dark">
                    <figure>
                        <img src="../static/imgs/giftshop/Pin.jpg" alt="Failed to Load Image">
                    </figure>
                    <h3 class="name align-center">Duquesne Incline Pin</h3>
                </div>
                <div class="items dark">
                    <figure>
                        <img src="../static/imgs/giftshop/plate.jpg" alt="Failed to Load Image">
                    </figure>
                    <h3 class="name align-center">Hand Hammered Plate</h3>
                </div>
                <div class="items dark">
                    <figure>
                        <img src="../static/imgs/giftshop/plate4.jpg" alt="Failed to Load Image">
                    </figure>
                    <h3 class="name align-center">Hand Hammered Plate</h3>
                </div>
                <div class="items dark">
                    <figure>
                        <img src="../static/imgs/giftshop/point1.jpg" alt="Failed to Load Image">
                    </figure>
                    <h3 class="name align-center">Hand Hammered Little Square Point</h3>
                </div>
                <div class="items dark">
                    <figure>
                        <img src="../static/imgs/giftshop/shotglass1.jpg" alt="Failed to Load Image">
                    </figure>
                    <h3 class="name align-center">Featured Shot Glass</h3>
                </div>
                <div class="items dark">
                    <figure>
                        <img src="../static/imgs/giftshop/shotglass2.jpg" alt="Failed to Load Image">
                    </figure>
                    <h3 class="name align-center">Featured Shot Glass</h3>
                </div>
                <div class="items dark">
                    <figure>
                        <img src="../static/imgs/giftshop/shotglass3.jpg" alt="Failed to Load Image">
                    </figure>
                    <h3 class="name align-center">Featured Shot Glass</h3>
                </div>
                <div class="items dark">
                    <figure>
                        <img src="../static/imgs/giftshop/shotglass4.jpg" alt="Failed to Load Image">
                    </figure>
                    <h3 class="name align-center">Featured Shot Glass</h3>
                </div>
                <div class="items dark">
                    <figure>
                        <img src="../static/imgs/giftshop/snowglobe.jpg" alt="Failed to Load Image">
                    </figure>
                    <h3 class="name align-center">Featured Snow Globe</h3>
                </div>
                <div class="items dark">
                    <figure>
                        <img src="../static/imgs/giftshop/wood_car_resized_1.jpg" alt="Failed to Load Image">
                    </figure>
                    <h3 class="name align-center">Duquesne Inclin Wooden Car Model</h3>
                </div>
            </div>
        </main>
        <footer>
            <div class="container">
                <div class="item1">
                    <h1>The Duquesne Incline</h1>
                    <img src="../static/imgs/DuqInclineLogo.png" alt="Our logo" class="logo" title="The logo of the webpage, illustrating rail car of Duquesne Incline in a black-and-whtie hand drawn style">
                </div>
                <div class="item2">
                    <h1>Hours of Operation</h1>
                    <p>Open 365 Days a Year</p>
                    <p>Everyday: 6:30 a.m. -- 12:30 a.m.</p>
                    <p>No Reservations. No Advance Tickets</p>
                </div>
                <div class="item3">
                    <h1>Contact Information</h1>
                    <p>1197 West Carson Street, Pittsburgh, PA 15219</p>
                    <p>Phone Number: 412.381.1665</p>
                    <p>Fax: 412.381.1943</p>
                    <p>duq.incline@duquesneincline.org</p>
                </div>
                <div class="item4">
                    <h1>Follow Our Social Media!</h1>
                    <div class="social_media_list">
                        <!-- Facebook -->
                        <a href="https://www.facebook.com/TheDuquesneIncline" target="_blank">
                            <img src="../static/icons/facebookpng.png" alt="Facebook" title="Facebook">
                        </a>
                        <!-- Yelp-->
                        <a href="https://www.yelp.com/biz/duquesne-incline-pittsburgh" target="_blank">
                            <img src="../static/icons/yelp.png" alt="Yelp" title="Yelp">
                        </a>
                        <!-- Viator -->
                        <a href="https://www.viator.com/Pittsburgh-attractions/Duquesne-Incline/d22639-a21677" target="_blank">
                            <img src="../static/icons/viator.jpg" alt="Viator" title="Viator">
                        </a>
                        <!-- Visit Pittsburgh -->
                        <a href="https://www.visitpittsburgh.com/directory/duquesne-incline/" target="_blank">
                            <img src="../static/icons/Visit_Pittsburgh.png" alt="Visit Pittsburgh" title="Visit Pittsburgh">
                        </a>
                        <!-- Wikipedia -->
                        <a href="https://en.wikipedia.org/wiki/Duquesne_Incline" target="_blank">
                            <img src="../static/icons/wikipedia.png" alt="Wikipedia" title="Wikipedia" class="filled">
                        </a>
                    </div>
                </div>
            </div>
            <p>Copyright&copy; Duquesne Incline | <a href="./citations.html"> Image Citations (Click to See)</a> | Website Design & Programming: Lawrence Song</p>
       </footer>
    </div>
</body>
</html>