/* Design of the Page */
main{
    display: flex;
    flex-direction: column;
    width:100%;
    box-sizing: border-box;
    padding:1em 1em 1em 1em;    
}
main>.container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap ;

    width: 100%;
    box-sizing: border-box;

    gap:.2em;
}
main>.container .items{
    width:12em;
    height:12em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    padding: 1em 1em 1em 1em;
    border-radius: .3em;
    border: solid 2px var(--myGrey);

    /* background-color: var(--myGrey); */
}
main>.container .items figure{
    margin:0 0 0 0;
}
main>.container .items figure img{
    height:10em;
    width:100%;
    object-fit: contain;
}
main>.container .items h3{
    margin:0 0 0 0;
}