@media only screen and (max-width:800px){
    main{
        grid-template-areas: 
        'table_of_contents table_of_contents'
        'container container';
        gap:2em 5%;
    }
    #table_of_contents{
        position:unset;
        box-sizing: border-box;
    }
    main>.container>.item5 article section .container{
        flex-direction: column;
        flex-wrap: nowrap;
    }
    main>.container>.item5 article section .container div{
        width:100%;
    }
}